:root {
    --primary: rgba(94, 81, 214, 0.75);
    --business: #3cc966;
    --personal: var(--primary);
    --light: #eee;
    --dark: #313154;
    --danger: #e48280;
    --shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    --grey: #999;

    --business-glow: 0px 0px 4px rgba(23, 77, 32, 0.75);
    --personal-glow: 0px 0px 4px rgba(15, 12, 41, 0.75);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'montserrat', sans-serif;
	/* font-size: 16px; */
}

input:not([type="radio"]):not([type="checkbox"]), button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
	cursor: initial;
}


body {
	background: var(--light);
	color: var(--dark);
}

section {
	margin-top: 2rem;
	margin-bottom: 2rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}

h3 {
	color: var(--dark);
	font-size: 1rem;
	font-weight: 400;
	margin-bottom: 0.5rem;
}

h4 {
	color: var(--grey);
	font-size: 0.875rem;
	font-weight: 700;
	margin-bottom: 0.5rem;
}

.greeting {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--primary);
	border-radius: 0.7rem;
	padding: 1rem;
	margin: 1rem 1.5rem;
	color: #FFF;
}

.greeting p {
	background-color: var(--light);
	font-size: 0.65rem;
	color: var(--primary);
	border-radius: 0.7rem;
	padding: 0.8rem;
	
}



.create-todo input[type="text"] {
	display: block;
	width: 100%;
	font-size: 1.125rem;
	padding: 1rem 1.5rem;
	color: var(--dark);
	background-color: #FFF;
	border-radius: 0.7rem;
	box-shadow: var(--shadow);
	margin-bottom: 1.5rem;
}

.create-todo .options {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 1rem;
	margin-bottom: 1.5rem;
}

.create-todo .options label {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 1.2rem;
	background-color: white;
	border-radius: 0.7rem;
	box-shadow: var(--shadow);
	cursor: pointer;
}

input[type="radio"] {
	display: none;
	
}

input[type="checkbox"] {
	display: none;
	
}

.bubble {
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	border: solid 2px var(--business);
	box-shadow: var(--business-glow);
	margin-bottom: 7px;
}

.bubble.personal {
	border-color: var(--personal);
	box-shadow: var(--personal-glow);
}

.bubble::after {
	content: "";
	display: block;
	opacity: 0;
	width: 0px;
	height: 0px;
	background-color: var(--business);
	border-radius: 50%;
	transition: 0.2s ease-in-out;	
}

.bubble.personal::after {
	background-color: var(--primary);
	
}

input:checked ~ .bubble::after {
	width: 12px;
	height: 12px;
	opacity: 0.7;
}

.create-todo input[type="submit"] {
	display: block;
	width: 100%;
	font-size: 1.2rem;
	padding: 1rem 1.1rem;
	color: #FFF;
	background-color: var(--primary);
	box-shadow: var(--personal-glow);
	border-radius: 0.7rem;
	cursor: pointer;
	transition: 0.2s ease-in;
}

.create-todo input[type="submit"]:hover {
	opacity: 0.8;
}

.todo-list .list {
	margin: 1rem 0;
}

.todo-list .todo-item {
	display: flex;
	align-items: center;
	background-color: #FFF;
	padding: 1rem;
	border-radius: 0.7rem;
	box-shadow: var(--shadow);
	margin-top: 1rem;
}

.todo-item label {
	display: block;
	margin-right: 1rem;
	cursor: pointer;
}

.todo-list .todo-content {
	flex: 1 1 0%;
	
}

.todo-content input {
	color: var(--dark);
	font-size: 1rem;
}

.actions {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;
}

.actions button {
	display: block;
	width: 5rem;
	padding: 0.5rem;
	border-radius: 0.7rem;
	background-color: #FFF;
	cursor: pointer;
	transition: 0.2s ease-in-out;
	margin-right: 0.2rem;
}

.actions button:hover {
	opacity: 0.8;
}

.todo-item .actions .edit {
	background-color: var(--primary);
	color: #FFF;
}

.todo-item .actions .delete {
	background-color: var(--danger);
	color: #FFF;
}


.todo-item.done .todo-content input{
	text-decoration: line-through;
	color: var(--grey);
	opacity: 0.7;
}

